a.tooltips {
    position: relative;
    display: inline;
}
a.tooltips span {
    position: absolute;
    width:140px;
    color: #04007A;
    background: #FDFFD1;
    height: 45px;
    line-height: 45px;
    text-align: center;
    visibility: hidden;
    border-radius: 0px;
    box-shadow: 1px 1px 2px ;
}
a.tooltips span:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-top: 8px solid #FDFFD1;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}
a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
}