<!DOCTYPE html>
<html ng-app="CollectionApp">
<head>
    <meta charset=utf-8/>
    <script src="scripts/angular/angular.min.js"></script>
    <script src="scripts/angular-misc/angular_commons.js"></script>
    <script src="scripts/collectionApp.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/testAdmin.css">
    <title>Ceph MongoDB database collections</title>
</head>
<body ng-controller="CollectionCtrl">
<h1>Ceph MongoDB database collections viewer</h1>
<br/>

<form>
    <label>Collection:</label>
    <select ng-model="collectionName" ng-change="getCollection(collectionName)">
        <option ng-repeat="collection in collections" value="{{collection}}">{{collection}}</option>
    </select>
</form>

<div id="list">
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th ng-repeat="key in keys">
                {{prettyPrintKey(key)}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in datas">
            <td ng-repeat="key in keys">{{ prettyPrint(data[key])}}</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>